/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@media only screen and (max-width: 1180px) {
  div.container {
    width: auto;
  }
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("	https://images3.alphacoders.com/853/thumb-1920-85305.jpg");

  background-repeat: repeat;
  background-size: 1400px 800px;
}

#nav {
  /* position: fixed; */
  width: 100%;
  border: 8px solid rgb(161, 58, 10);
  background: linear-gradient(0.25turn, #e9b686, #ebf8e1, #e08754);
}
/* .title {
  background-color: #8ee986;
} */
#Inpt {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 350px;
  height: 40px;
  background-color: rgb(25, 175, 175);
}
.btn {
  margin-top: 5px;
  font-weight: bolder;
  border-radius: 10px;
  height: 40px;
  width: 70px;
  /* color: blanchedalmond; */
  color: black;

  border-color: black;
}
.container {
  background: linear-gradient(0.25turn, #e9b686, #ebf8e1, #e08754);
}
.card {
  background-color: #849e6c;
  font-weight: bolder;
  padding: 20px 15px 15px 20px;
  margin: 25px;
}
.Image {
  width: 250px;
  height: 500px;
}

.create {
  color: #c2594c;
}
